name: Message Slack

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  slackNotification:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Message Push
      run: curl -H "Content-type: application/json" -X POST -d "{channel: '#general', text: 'prueba desde \n github'}" ${{ secrets.SLACK_WEBHOOK }}
