name: Github Slack

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  slackNotification:
    runs-on: ubuntu-latest
    env:
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
        SLACK_USERNAME: GithubBot # Optional. (defaults to webhook app)
        SLACK_CHANNEL: general # Optional. (defaults to webhook)

    steps:
    - uses: Ilshidur/action-slack@2.0.2
    - name: Send Slack Notification Push Main
      with:
        template: pushMaster
        title: Push Master
        description: Se ha realizado un push en master.
        status: ${{ toJSON(steps) }}
