name: Message Slack

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  slackNotification:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Message Push
        run: |
        curl -H "Content-type: application/json" -X POST -d << EOF
        {
          "text": "prueba desde \n github",
          "channel": "#general"
        } 
        EOF
        ${{ secrets.SLACK_WEBHOOK }}
