name: Message Slack

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  slackNotification:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Mostrar evento
        run: echo ${{ !github.event.issue.pull_request }}
      - name: Message Pull Request
        if: ${{ github.event.issue.pull_request }}
        run: |
          curl -H "Content-type: application/json" -X POST -d '{"channel": "#general", "title": "Pull Request", "text": "Esto es una pull request"}' ${{ secrets.SLACK_WEBHOOK }}
      - name: Message Push
        if: ${{ !github.event.issue.pull_request }}
        run: |
          curl -H "Content-type: application/json" -X POST -d '{"channel": "#general", "title": "Esto es un push", "text": "prueba desde \n github"}' ${{ secrets.SLACK_WEBHOOK }}
