name: Github Slack

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  slackNotification:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Send Slack Notification Push Main
      uses: rtCamp/action-slack-notify@v2
      env:
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
        SLACK_USERNAME: GithubBot # Optional. (defaults to webhook app)
        SLACK_CHANNEL: general # Optional. (defaults to webhook)
        SLACK_MESSAGE: 'Prueba desde \n Github'
        SLACK_COLOR: ${{ job.status }} # or a specific color like 'green' or '#ff00ff'
